<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.css" />

  <!-- slider -->
  <link rel="stylesheet" th:href="@{/vender/slider/css/lightslider.css}"
    href="../../static/vender/slider/css/lightslider.css" />
  <script th:src="@{/vender/slider/js/lightslider.js}" src="../../static/vender/slider/js/lightslider.js"></script>

  <style>
    * {
      box-sizing: border-box;
    }

    section .row [class*="col"] {
      padding: 5px;
      padding-bottom: 10px;
    }

    div.card img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

  </style>
</head>

<body>
  <!-- header -->
  <header th:replace="/base::header"></header>

  <!-- navbar -->
  <nav th:replace="/base::navbar"></nav>

  <!-- section -->
  <section class="container-fluid">
    <div class="row bg-danger" style="height: 60vh;">
      <div class="col-md-3 h-100">
        <div>
          <nav>
            <div class="list-groups" style="font-size: 22px">
              <h3 class="list-group-item">Danh mục</h3>
              <a href="#" class="list-group-item list-group-item-action">Tác giả</a>
              <a href="#" class="list-group-item list-group-item-action">Nhà xuất bản</a>
              <a href="#" class="list-group-item list-group-item-action">Thể loại</a>
              <a href="#" class="list-group-item list-group-item-action">Sách hot</a>
              <a href="#" class="list-group-item list-group-item-action">Sách khuyên đọc</a>
              <a href="#" class="list-group-item list-group-item-action disabled">Disabled item</a>
            </div>
          </nav>

          
        </div>
      </div>

      <div class="col-md-9 h-100 ">
        <div class="mb-1" style="height: 10%;">
          <input type="search" name="" id="" class="form-control mb-1" placeholder="...Search">
        </div>

        <div id="carousel-sale" class="carousel slide rounded-lg" data-ride="carousel" style="height: 90%;">
          <ol class="carousel-indicators">
            <li data-target="#carousel-sale" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-sale" data-slide-to="1"></li>
            <li data-target="#carousel-sale" data-slide-to="2"></li>
            <li data-target="#carousel-sale" data-slide-to="3"></li>
            <li data-target="#carousel-sale" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner h-100 rounded-lg" role="listbox">
            <div class="carousel-item h-100 active">
              <img th:src="@{/img/carou/carou1.jpg}" class="h-100 w-100" style="object-fit: cover"
                alt="First slide">
            </div>
            <div class="carousel-item h-100">
              <img th:src="@{/img/carou/carou2.jpg}" class="h-100 w-100" style="object-fit: cover"
                alt="Second slide">
            </div>
            <div class="carousel-item h-100">
              <img th:src="@{/img/carou/carou3.jpg}" class="h-100 w-100" style="object-fit: cover"
                alt="Third slide">
            </div>
            <div class="carousel-item h-100">
              <img th:src="@{/img/carou/carou4.png}" class="h-100 w-100" style="object-fit: cover"
                alt="Third slide">
            </div>
            <div class="carousel-item h-100">
              <img th:src="@{/img/carou/carou5.jpg}" class="h-100 w-100" style="object-fit: cover"
                alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carousel-sale" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-sale" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </div>
  </section>

  <!-- main -->
  <main>
    <div class="container-fluid bg-success">
      <!-- content-title -->
      <div>
        <h3>Van hoc</h3>
      </div>
      <!-- content-body -->
      <div>
        <ul id="slider1" class="myslider">

          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book1 .jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book4.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book5.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book6.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book7.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book8.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>



        </ul>
      </div>
    </div>
    <div class="container-fluid bg-danger">
      <!-- content-title -->
      <div>
        <h3>Van hoc</h3>
      </div>
      <!-- content-body -->
      <div>
        <ul id="slider2" class="myslider">

          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book9.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book3.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book3.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book3.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book3.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book3.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>



        </ul>
      </div>
    </div>
    <div class="container-fluid bg-primary">
      <!-- content-title -->
      <div>
        <h3>Van hoc</h3>
      </div>
      <!-- content-body -->
      <div>
        <ul id="slider3" class="myslider">

          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book3.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book3.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book3.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book3.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book3.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>


          <li>
            <div>
              <div class="card">
                <img src="../../static/img/book/book3.jpg" th:src="@{/img/book/book3.jpg}" alt="" class="card-img-top">
                <div class="card-header">
                  Card Header
                </div>
                <div class="card-body">
                  <div class="card-title">
                    Card Title
                  </div>
                  <div class="card-text">
                    Card Text
                  </div>
                  <a href="" class="card-link stretched-link">
                  </a>
                </div>
              </div>
            </div>
          </li>



        </ul>
      </div>
    </div>

  </main>
  <!-- footer -->
  <footer th:replace="/base::footer"></footer>

  <script>
    $(document).ready(function () {
      $('.myslider').lightSlider({
        item: 4,
        prevHtml: '<i class="fas fa-arrow-circle-left" style="font-size: 16px;"></i>',
        nextHtml: '<i class="fas fa-arrow-circle-right" style="font-size: 16px;"></i>',
      });
    });
  </script>
</body>

</html>