<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!-- head -->
  <head th:include="~{/base::head('Books by Category')}"> </head>

  <body>
    <!-- header -->
    <header th:replace="~{/base::header}"></header>

    <!-- navbar -->
    <nav th:replace="~{/base::navbar}"></nav>

    <!-- section -->
    <section
      th:replace="~{/base::collapse-intro}"
      class="container-fluid bg-danger"
    ></section>

    <!-- main -->
    <main>
      <div class="container-fluid  my-container">
        <div class="row mb-3" th:each="row : ${rows}">
          <div class="col-md-3" th:each="book : ${row}">
            <div class="card">
              <img
                class="card-img-top rounded-circle mx-auto d-block my-1"
                th:src="@{${book.imgURL}}"
                alt="the book does not have an image yet."
                style="height: 250px; width: 80%; background-color: gray; object-fit: cover;"
              />

              <div class="card-body">
                <h5 class="card-title" th:text="${book.name}"></h5>
                <!-- <p class="card-text"></p> -->
                <a
                  th:href="@{/books/{id}(id = ${book.id})}"
                  class="card-link stretched-link"
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div th:replace="~{/base::section-footer ('/books/ca/' + ${caid})}"></div>
      </div>
    </main>

    <!-- footer -->
    <footer th:replace="~{/base::footer}"></footer>
  </body>
</html>
