<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="~{/base::head('Add input')}">
</head>

<body>
  <!-- header -->
  <header th:replace="/base::header"></header>

  <!-- main -->
  <main class="container-fluid my-2" id="main">
    <div class="row ">
      <!-- navside -->
      <nav class="col-3" th:insert="/base::navside">
      </nav>

      <!-- section -->
      <section class="col-9">
        <!-- section-header -->
        <div th:replace="/base::section-header('alert-warning', 'Add input', null)"></div>

        <!-- section-content -->
        <form th:action="@{add}" method="POST" th:object="${input}">
          <div class="form-group">
            <label for="date">input date</label>
            <input type="date" id="date" th:field="*{inputDate}" class="form-control" placeholder="" autofocus="autofocus">
          </div>

          <div class="form-group">
            <label for="note">input note</label>
            <input type="text" id="note" th:field="*{note}" class="form-control" placeholder="who, where, how">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="/base::footer"></footer>
</body>

</html>