<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/base::head('Edit input')}"></th:block>
</head>

<body>
  <!-- header -->
  <header th:replace="/base::header"></header>
  <!-- navbar -->
  <nav th:replace="/base::navbar"></nav>
  <main class="container-fluid" id="main">
    <div class="row ">
      <!-- navside -->
      <nav class="col-md-3" th:replace="~{/base::navside}">
      </nav>

      <!-- section -->
      <section class="col-md-9 pt-0">
        <!-- section-header -->
        <div th:replace="/base::section-header('alert-warning', 'Edit input', null)"></div>

        <!-- section-content -->
        <form th:action="@{edit#navbar}" method="POST" th:object="${input}">
          <input type="hidden" th:field="*{id}" th:value="${input.id}">

          <div class="form-group">
            <label for="date">input date</label>
            <input type="date" id="date" th:field="*{inputDate}" class="form-control">
          </div>

          <div class="form-group">
            <label for="note">input note</label>
            <input type="text" id="note" th:field="*{note}" class="form-control">
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>row</th>
                <th>book</th>
                <th>quantity</th>
                <th>input price</th>
                <th>
                  <button type="submit" name="addRow" class="btn btn-primary btn-sm">Add Row
                    <i class="fa fa-plus">
                    </i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="b_i, iterStat : *{book_inputs}">
                <input type="hidden" th:field="*{book_inputs[__${iterStat.index}__].id}" th:value="${b_i.id}">
                <td scope="row" th:text="${iterStat.count}"></td>
                <td>
                  <select th:field="*{book_inputs[__${iterStat.index}__].book.id}">
                    <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.name}"></option>
                  </select>
                </td>
                <td>
                  <input type="number" th:field="*{book_inputs[__${iterStat.index}__].quantity}">
                </td>
                <td>
                  <input type="number" th:field="*{book_inputs[__${iterStat.index}__].inputPrice}">
                </td>
                <td>
                  <button type="submit" name="removeRow" class="btn btn-warning btn-sm"
                    th:value="${iterStat.index}">Remove Row
                    <i class="fa fa-minus">
                    </i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="/base::footer"></footer>
</body>

</html>