<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="~{/base::head('Input List')}">
</head>

<body>
  <!-- header -->
  <header th:replace="/base::header"></header>

  <!-- main -->
  <main class="container-fluid my-2" id="main">
    <div class="row">
      <!-- navside -->
      <nav class="col-3" th:insert="/base::navside">
      </nav>

      <!-- section -->
      <section class="col-9">
        <!-- section header -->
        <div th:replace="/base::section-header('alert-success', 'Inputs:', 'inputs/add')"></div>
        <!-- section-content -->
        <table class="table table-bordered table-sm">
          <thead class="thead-inverse">
            <tr>
              <th>id</th>
              <th>date</th>
              <th>note</th>
              <th>detail</th>
              <th>edit</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="input : ${inputs}">
              <tr>
                <td scope="row" th:text="${input.id}"></td>
                <td th:text="${input.inputDate}"></td>
                <td th:text="${input.note}"></td>
                <td>
                  <a data-toggle="collapse" th:href="'#' + ${#ids.next('input')}">
                    show detail
                  </a>
                </td>
                <td><a th:href="@{/admin/manage/inputs/{id}/edit(id=${input.id})}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>

              <tr>
                <td colspan="5" style="padding: 0;">
                  <div class="collapse" id="content" th:id="${#ids.seq('input')}">
                    <!-- table -->
                      <table class="table table-borderless table-info my-auto px-3">
                        <thead>
                          <tr>
                            <th>book</th>
                            <th>quantity</th>
                            <th>cover price</th>
                            <th>input price</th>
                            <th>totalInputLine</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="book_input: ${input.book_inputs}">
                            <td scope="row" th:text="${book_input.book.name}"></td>
                            <td th:text="${book_input.quantity}"></td>
                            <td th:text="${book_input.inputPrice}"></td>
                            <td th:text="${book_input.coverPrice}"></td>
                            <td th:text="${book_input.inputPrice} * ${book_input.quantity} "></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </td>
              </tr>
            </th:block>
          </tbody>
        </table>
        <!-- section-footer -->
        <div th:replace="/base::section-footer ('inputs')"></div>
      </section>

    </div>
  </main>

  <!-- footer -->
  <footer th:replace="/base::footer"></footer>
</body>

</html>