* {
  box-sizing: border-box;
}

.myslider img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

main .container-fluid {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

main .container-fluid h3 {
  border-bottom: solid 2px gray;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
}