* {
  box-sizing: border-box;
}

body {
  padding: 0 50px;
  background-color: #bdc3c7;
}

main {
  background-color: inherit;
}

#intro {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#intro .col-md-9 {
  padding-left: 0;
}

#search-box {
  margin-top: 2px;
}

#carousel {
  margin-top: 9px;
}

#carousel img {
  height: 393px;
  width: 100%;
  object-fit: cover;
}

.myslider img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.slider-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: white;
  margin: 25px 0;
}

.slider-container h3 {
  border-bottom: solid 2px gray;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}
