* {
  box-sizing: border-box;
}


#intro {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

#intro .col-md-9 {
  padding-left: 0;
}

#search-box {
  margin-top: 2px;
}

#carousel {
  margin-top: 9px;
}

#carousel img {
  height: 393px;
  width: 100%;
  object-fit: cover;
}

.myslider img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

