<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="~{/base::head('Add sale')}">
</head>

<body>
  <!-- header -->
  <header th:replace="/base::header"></header>

  <!-- main -->
  <main class="container-fluid my-2" id="main">
    <div class="row ">
      <!-- navside -->
      <nav class="col-3" th:insert="/base::navside">
      </nav>

      <!-- section -->
      <section class="col-9">
        <!-- section-header -->
        <div th:replace="/base::section-header('alert-warning', 'Add sale', null)"></div>

        <!-- section-content -->
        <form th:action="@{add#main}" method="POST" th:object="${sale}">

          <div class="form-group">
            <label for="name">sale event name</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="">
          </div>

          <div class="form-group">
            <label for="date">begin date</label>
            <input type="date" id="date" th:field="*{beginDate}" class="form-control" placeholder="">
          </div>

          <div class="form-group">
            <label for="date">end date</label>
            <input type="date" id="endDate" th:field="*{endDate}" class="form-control" placeholder="">
          </div>


          <table class="table">
            <thead>
              <tr>
                <th>row</th>
                <th>book</th>
                <th>percent</th>
                <th>
                  <button type="submit" name="addRow">Add Row
                    <i class="fa fa-plus">
                    </i>
                  </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="bs, iterStat : *{book_sales}">
                <td scope="row" th:text="${iterStat.count}"></td>
                <td>
                  <select th:field="*{book_sales[__${iterStat.index}__].book.id}">
                    <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.name}"></option>
                  </select>
                </td>
                <td>
                  <input type="number" th:field="*{book_sales[__${iterStat.index}__].percent}">
                </td>
                <td>
                  <button type="submit" name="removeRow" th:value="${iterStat.index}">Remove Row
                    <i class="fa fa-minus">
                    </i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="/base::footer"></footer>
</body>

</html>