<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="~{/base::head('Sale List')}">
</head>

<body>
  <!-- header -->
  <header th:replace="/base::header"></header>

  <!-- main -->
  <main class="container-fluid my-2" id="main">
    <div class="row">
      <!-- navside -->
      <nav class="col-3" th:insert="/base::navside">
      </nav>

      <!-- section -->
      <section class="col-9">
        <!-- section header -->
        <div th:replace="/base::section-header('alert-success', 'Sales:', 'sales/add')"></div>
        <!-- section-content -->
        <table class="table table-bordered table-sm">
          <thead class="thead-inverse">
            <tr>
              <th>id</th>
              <th>event name</th>
              <th>begin date</th>
              <th>end date</th>
              <th>detail</th>
              <th>edit</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="sale : ${sales}">
              <tr>
                <td scope="row" th:text="${sale.id}"></td>
                <td th:text="${sale.name}"></td>
                <td th:text="${sale.beginDate}"></td>
                <td th:text="${sale.endDate}"></td>
                <td>
                  <a data-toggle="collapse" th:href="'#' + ${#ids.next('sale')}">
                    show detail
                  </a>
                </td>
                <td><a th:href="@{/admin/manage/sales/{id}/edit(id=${sale.id})}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>

              <tr>
                <td colspan="6" style="padding: 0;">
                  <div class="collapse" id="content" th:id="${#ids.seq('sale')}">
                    <!-- table -->
                      <table class="table table-borderless table-info my-auto px-3">
                        <thead>
                          <tr>
                            <th>book</th>
                            <th>percent</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="book_sale: ${sale.book_sales}">
                            <td scope="row" th:text="${book_sale.book.name}"></td>
                            <td th:text="${book_sale.percent}"></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </td>
              </tr>
            </th:block>
          </tbody>
        </table>
        <!-- section-footer -->
        <div th:replace="/base::section-footer ('sales')"></div>
      </section>

    </div>
  </main>

  <!-- footer -->
  <footer th:replace="/base::footer"></footer>
</body>

</html>