<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/base::head('Sale List')}"></th:block>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/base::header}"></header>

  <!-- navbar -->
  <nav th:replace="~{/base::navbar}"></nav>

  <!-- main -->
  <main class="container-fluid" id="main">
    <div class="row ">
      <!-- navside -->
      <nav class="col-md-3" th:replace="~{/base::navside}">
      </nav>

      <!-- section -->
      <section class="col-md-9 pt-0">
        <!-- section-header -->
        <div th:replace="~{/base::section-header('alert-success', 'Sales:', 'sales/add')}"></div>

        <!-- section-content -->
        <table id="ss-ct-tb" class="table table-hover table-bordered table-sm mt-2 mb-2">
          <thead class="thead-inverse">
            <tr>
              <th>id</th>
              <th>event name</th>
              <th>begin date</th>
              <th>end date</th>
              <th width="5%">detail</th>
              <th width="5%">edit</th>
              <th width="5%">delete</th>
            </tr>
          </thead>
          <tbody>
            <th:block th:each="sale : ${sales}">
              <tr>
                <td scope="row" th:text="${sale.id}"></td>
                <td th:text="${sale.name}"></td>
                <td th:text="${sale.beginDate}"></td>
                <td th:text="${sale.endDate}"></td>
                <td class="text-center">
                  <a data-toggle="collapse" th:href="'#' + ${#ids.next('sale')}">
                              <i class="fas fa-info-circle text-info"></i>
                            </a>
                          </td>
                          <td class="text-center"><a th:href="@{/admin/manage/sales/{id}/edit#navbar(id=${sale.id})}"><i
                                class="fas fa-pencil-alt text-dark"></i></a>
                          </td>
                          <td class="text-center"><a th:href="@{/admin/manage/sales/{id}/delete#navbar(id=${sale.id})}"><i
                                class="far fa-trash-alt text-dark"></i></a>
                          </td>
                      </tr>
          
                        <tr>
                          <td colspan="7" style="padding: 0;">
                            <div class="collapse" id="content" th:id="${#ids.seq('sale')}">
                              <div class="container my-3">
                                <!-- table -->
                                <table class="table table-borderless table-info my-auto px-3">
                                  <thead>
                                    <tr>
                                      <th>book</th>
                                      <th>percent</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr th:each="book_sale: ${sale.book_sales}">
                                      <td scope="row" th:text="${book_sale.book.name}"></td>
                                      <td th:text="${book_sale.percent}"></td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                              </div>
                          </td>
                        </tr>
                      </th:block>
                    </tbody>
        </table>

        <!-- section-footer -->
        <div th:replace="~{/base::section-footer ('/admin/manage/sales')}"></div>
      </section>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="~{/base::footer}"></footer>
</body>

</html>