<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <!-- head -->

  <head>
    <th:block th:include="~{/base::head ('Sign up success')}"></th:block>
  </head>

  <body>
    <!-- header -->
    <header th:replace="/base::header"></header>

    <!-- navbar -->
    <nav th:replace="/base::navbar"></nav>

    <!-- section -->
    <section
      th:replace="~{/base::collapse-intro}"
      class="container-fluid bg-danger"
    ></section>

    <!-- main -->
    <main id="main">
      <div th:if="${user} != null" class="container-fluid my-container" style="font-size: 2.5rem;">
        <div class="alert alert-success" role="alert">
          <strong th:text="'Welcome ' + ${user.name} + '!'"></strong>
          <p>Your account: <i>[[${user.username}]]</i> is ready now!</p>
          <p>Let's login and start shopping with us!</p>
        </div>
        <a class="btn btn-primary" th:href="@{/login}">Login</a>
      </div>
    </main>

    <!-- footer -->
    <footer th:replace="/base::footer"></footer>
  </body>
</html>
