<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- head -->

<head>
	<th:block th:include="~{/base::head ('Sign up success')}"></th:block>
	<link rel="stylesheet" type="text/css" th:href="@{/css/user/home.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/user/ss-top.css}">
</head>


<body>
	<!-- header -->
	<header th:replace="/base::header"></header>

	<!-- navbar -->
	<nav th:replace="/base::navbar"></nav>

	<!-- section -->
	<section th:replace="~{/base::category}">
	</section>

	<!-- main -->
	<main id="main">
	
			<h2>Hello [[${user.name}]]</h2>
			<a class="btn btn-primary" th:href="@{/login}">Login</a>

	</main>

	<!-- footer -->
	<footer th:replace="/base::footer"></footer>
</body>

</html>