<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/base::head('General Info')}"></th:block>
  <style>
    div.container-fluid {
      background-color: #ecf0f1;
      margin-top: 20px;
    }
  </style>
</head>


<body>
  <!-- header -->
  <header th:replace="~{/base::header}"></header>

  <!-- navbar -->
  <nav th:replace="~{/base::navbar}"></nav>

  <!-- main -->
  <main class="container-fluid" id="main">
    <div class="row">
      <!-- navside -->
      <nav class="col-md-3" th:replace="~{/base::navside}">
      </nav>

      <!-- section -->
      <section class="col-md-9 pt-0">
        <!-- section header -->
        <div th:replace="/base::section-header('alert-success', 'General info:', null)">
        </div>
        <div class="container-fluid">
          <h3>User</h3>
          <div>
            <div>Number of account: [[${account}]]</div>
            <div>Number of blocked account: [[${blockedAccount}]]</div>
            <div>Number of new account for this mounth: [[${newAccount}]]</div>
          </div>
        </div>
        <div class="container-fluid">
          <h3>Book</h3>
          <div>
            <div>Number of book: [[${book}]]</div>
            <div>Total quantity of books: [[${totalBook}]]</div>
          </div>
        </div>
        <div class="container-fluid">
          <h3>Order</h3>
          <div>
            <div>Number of order: [[${order}]]</div>
            <div>Number of successed: [[${successed}]]</div>
            <div>Number of canceled: [[${canceled}]]</div>
          </div>
        </div>
        <div class="container-fluid">
          <h3>Other</h3>
          <div>
            <div>Number of Author: [[${author}]]</div>
            <div>Number of Category: [[${categories}]]</div>
            <div>Number of Publisher: [[${publisher}]]</div>
            <div>Number of Input Event: [[${input}]]</div>
            <div>Number of Sale Event: [[${sale}]]</div>
          </div>
        </div>
      </section>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="/base::footer"></footer>
</body>

</html>