
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="~{/base::head('Author List')}">
</head>

<body>
  <!-- header -->
  <header th:replace="/base::header"></header>

  <!-- main -->
  <main class="container-fluid my-2" id="main">
    <div class="row ">
      <!-- navside -->
      <nav class="col-3" th:insert="/base::navside">
      </nav>

      <!-- section -->
      <section class="col-9">
        <!-- section-header -->
        <div class="row" th:replace="/base::section-header('alert-warning', 'Add author', null)"></div>

        <!-- section-content -->
        <div class="row">
          <div class="col-12">
            <form th:action="@{add}" method="POST" th:object="${author}">
              <div class="form-group">
                <label for="name">Author name</label>
                <input type="text" name="name" id="name" th:field="*{name}" class="form-control" placeholder=""
                  aria-describedby="helpId" autofocus="autofocus">
                <small id="helpId" class="text-muted">Help text</small>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- section-footer -->
        <div class="row" th:replace="/base::section-footer"></div>
      </section>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="/base::footer"></footer>
</body>
