<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/base::head('Add Author')}"></th:block>
</head>

<body>
  <!-- header -->
  <header th:replace="/base::header"></header>

  <!-- navbar -->
  <nav th:replace="/base::navbar"></nav>

  <!-- main -->
  <main style="background-color: white" class="container-fluid" id="main">
    <div class="row ">
      <!-- navside -->
      <nav class="col-md-3" th:replace="~{/base::navside}">
      </nav>

      <!-- section -->
      <section class="col-md-9 pt-0">
        <!-- section-header -->
        <div th:replace="/base::section-header('alert-warning', 'Add author', null)"></div>

        <form th:action="@{add#navbar}" method="POST" enctype="multipart/form-data" th:object="${author}" >
          <div class="form-group">
            <label for="name">Author name</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="" autofocus="autofocus">
          </div>

          <div class="form-group">
            <label for="birthday">Birth day</label>
            <input type="date" id="birthday" th:field="*{birthday}" class="form-control" placeholder="">
          </div>

          <div class="form-group">
            <label for="img">Upload Image</label>
            <input type="file" name="file" class="btn form-control-file" id="img" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </section>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="/base::footer"></footer>
</body>

</html>