<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/base::head('Author List')}"></th:block>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/base::header}"></header>

  <!-- navbar -->
  <nav th:replace="/base::navbar"></nav>

  <!-- main -->
  <main class="container-fluid my-3" id="main">
    <div class="row">
      <!-- navside -->
      <nav class="col-md-3" th:replace="~{/base::navside}">
      </nav>

      <!-- section -->
      <section class="col-md-9 pt-3" >
        <!-- section header -->
        <div th:replace="~{/base::section-header('alert-success', 'Authors:', 'authors/add')}">
        </div>

        <!-- section-content -->
        <table class="table table-bordered table-hover table-sm mt-2" style="height: 77vh">
          <thead class="thead-inverse">
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>Birthday</th>
              <th>Image Url</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="author : ${authors}">
              <td scope="row" th:text="${author.id}"></td>
              <td th:text="${author.name}"></td>
              <td th:text="${author.birthday}"></td>
              <td th:text="${author.imgURL}"></td>
              <td><a th:href="@{/admin/manage/authors/{id}/edit#main(id=${author.id})}"><i class="fa fa-edit"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- section-footer -->
        <div th:replace="~{/base::section-footer ('authors')}">
        </div>
      </section>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="~{/base::footer}"></footer>
</body>

</html>