<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="~{/base::head('Author List')}">
</head>

<body>
  <!-- header -->
  <header th:replace="/base::header"></header>

  <!-- main -->
  <main class="container-fluid my-2" id="main">
    <div class="row">
      <!-- navside -->
      <nav class="col-3" th:insert="/base::navside">
      </nav>

      <!-- section -->
      <section class="col-9">
        <!-- section header -->
        <div th:replace="/base::section-header('alert-success', 'Authors:', 'authors/add')">
        </div>

        <!-- section-content -->
        <table class="table table-bordered table-hover table-sm">
          <thead class="thead-inverse">
            <tr>
              <th>id</th>
              <th>Name</th>
              <th>Birthday</th>
              <th>Image Url</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="author : ${authors}">
              <td scope="row" th:text="${author.id}"></td>
              <td th:text="${author.name}"></td>
              <td th:text="${author.birthday}"></td>
              <td th:text="${author.imgURL}"></td>
              <td><a th:href="@{/admin/manage/authors/{id}/edit(id=${author.id})}"><i class="fa fa-edit"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- section-footer -->
        <div th:replace="/base::section-footer ('authors')">
        </div>
      </section>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="/base::footer"></footer>
</body>

</html>