<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:include="~{/base::head ('Shopping History')}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/home.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/user/ss-top.css}" />
  </head>

  <body>
    <!-- header -->
    <header th:replace="/base::header"></header>

    <!-- navbar -->
    <nav th:replace="/base::navbar"></nav>
    <section
      th:replace="~{/base::collapse-intro}"
      class="container-fluid bg-danger"
    ></section>
    <main>
      <div class="container-fluid my-container">
        <h3>Lịch sử mua hàng</h3>

        <div class="mt-2" th:each="order: ${orders}">
       
          <div class="container-fluid py-3" th:id="${#ids.seq('container')}">
            <div class="row">
              <div class="col-md-2">Mã đơn hàng: [[${order.id}]]</div>
              <div class="col-md-3">Ngày đặt mua: [[${order.orderDate}]]</div>
              <div class="col-md-3">Tổng giá trị: [[${order.total}]].000đ</div>
              <div class="col-md-3" th:if="${order.state} == 1">Trạng thái: Đã tiếp nhận</div>
              <div class="col-md-3" th:if="${order.state} == 2">Trạng thái: Đang giao hàng</div>
              <div class="col-md-3" th:if="${order.state} == 3">Trạng thái: Đã hủy</div>
              <div class="col-md-3" th:if="${order.state} == 4">Trạng thái: Giao hàng thành công</div>
              <div class="col-md-1">
                <a data-toggle="collapse" th:href="'#' + ${#ids.next('order')}"
                  ><i class="fas fa-info-circle text-info"></i>
                </a>
              </div>
            </div>
          </div>
         <script th:inline="javascript">
            var containerId = '#' + [[${#ids.prev('container')}]];
            var state = [[${order.state}]];
            if(state == 1) {
              $(containerId).addClass('bg-warning')
            } else if (state == 2) {
              $(containerId).addClass('bg-primary')
            } else if(state == 3) {
              $(containerId).addClass('bg-danger')
            } else if(state == 4) {
              $(containerId).addClass('bg-success')
            }
          </script>

          <div class="collapse mt-3" th:id="${#ids.seq('order')}">
            <div class="container">
              <table class="table table-sm table-info">
                <thead>
                  <tr>
                    <th>book name</th>
                    <th>price</th>
                    <th>quantity</th>
                    <th>totalLine</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="orderLine: ${order.orderLines}">
                    <td scope="row" th:text="${orderLine.book.name}"></td>
                    <td
                     
                    >[[${orderLine.totalLine / orderLine.quantity}]].000đ</td>
                    <td th:text="${orderLine.quantity}"></td>
                    <td>[[${orderLine.totalLine}]].000đ</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <footer th:replace="/base::footer"></footer>
  </body>
</html>
