<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="~{/base::head('Order List')}">
</head>

<body>
  <!-- header -->
  <header th:replace="/base::header"></header>

  <!-- main -->
  <main class="container-fluid my-2" id="main">
    <div class="row">
      <!-- navside -->
      <nav class="col-3" th:insert="/base::navside">
      </nav>

      <!-- section -->
      <section class="col-9">
        <!-- section header -->
        <div class="row" th:replace="/base::section-header('alert-success', 'Orders:', null)"></div>
        <!-- section-content -->
        <div class="row">
          <div class="col-12">
            <table class="table table-hover table-bordered table-sm">
              <thead class="thead-inverse">
                <tr>
                  <th>id</th>
                  <th>user id</th>
                  <th>note</th>
                  <th>orderDate</th>
                  <th>detail</th>
                </tr>
              </thead>
              <tbody>
                <th:block th:each="order : ${orders}">
                  <tr>
                    <td scope="row" th:text="${order.id}"></td>
                    <td th:text="${order.user.id}"></td>
                    <td th:text="${order.note}"></td>
                    <td th:text="${order.orderDate}"></td>
                    <td><a data-toggle="collapse" href="#content" th:href="'#' + ${#ids.next('order')}" aria-expanded="false" aria-controls="content" th:aria-controls="${#ids.next('order')}">
                        show
                      </a></td>
                  </tr>
                  <tr>
                    <td colspan="4" style="padding: 0;">
                      <div class="collapse" id="content" th:id="${#ids.seq('order')}">
                        <div class="container-fluid">
                          <table class="table">
                            <thead>
                              <tr>
                                <!-- <th>user's name</th> -->
                                <th>book name</th>
                                <th>quantity</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="orderDetail: ${order.orderDetails}">
                                <td scope="row" th:text="${orderDetail.book.name}"></td>
                                <!-- <td></td> -->
                                <td th:text="${orderDetail.quantity}"></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </td>
                  </tr>
                </th:block>
              </tbody>
            </table>
          </div>
        </div>
        <!-- section-footer -->
        <div class="row" th:replace="/base::section-footer ('orders')"></div>
      </section>

    </div>
  </main>

  <!-- footer -->
  <footer th:replace="/base::footer"></footer>
</body>

</html>