<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/base::head('Add Book')}"></th:block>
</head>

<body>
  <!-- header -->
  <header th:replace="/base::header"></header>
  <!-- navbar -->
  <nav th:replace="/base::navbar"></nav>
  <!-- main -->
  <main class="container-fluid" id="main">
    <div class="row ">
      <!-- navside -->
      <nav class="col-md-3" th:replace="~{/base::navside}">
      </nav>

      <!-- section -->
      <section class="col-md-9 pt-0">
        <!-- section-header -->
        <div th:replace="/base::section-header('alert-warning', 'Edit book', null)"></div>

        <!-- section-content -->
        <form th:action="@{edit}" method="POST" th:object="${book}">
          <div class="form-group">
            <label for="name">name</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="" autofocus="autofocus">
          </div>
          <div class="form-group">
            <label for="width">width</label>
            <input type="number" id="width" th:field="*{width}" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="height">height</label>
            <input type="number" id="height" th:field="*{height}" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="totalPage">totalPage</label>
            <input type="number" id="totalPage" th:field="*{totalPage}" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="coverPrice">coverPrice</label>
            <input type="number" id="coverPrice" th:field="*{coverPrice}" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="releaseDate">releaseDate</label>
            <input type="date" id="releaseDate" th:field="*{releaseDate}" class="form-control" placeholder="">
          </div>

          <div class="form-group">
            <label for="description">description</label>
            <input type="text" id="description" th:field="*{description}" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="imgURL">imgURL</label>
            <input type="text" id="imgURL" th:field="*{imgURL}" class="form-control" placeholder="/img/book/.jpg">
          </div>
          <div class="form-group">
            <label for="author">author</label>
            <select th:field="*{author.id}" class="form-control" id="author">
              <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}">
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="category">category</label>
            <select th:field="*{category.id}" class="form-control" id="category">
              <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="publisher">publisher</label>
            <select th:field="*{publisher.id}" class="form-control" id="publisher">
              <option th:each="publisher : ${publishers}" th:value="${publisher.id}" th:text="${publisher.name}">
              </option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </section>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="/base::footer"></footer>
</body>

</html>