<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="~{/base::head('Add Publisher')}">
</head>

<body>
  <!-- header -->
  <header th:replace="/base::header"></header>

  <!-- main -->
  <main class="container-fluid my-2" id="main">
    <div class="row ">
      <!-- navside -->
      <nav class="col-3" th:insert="/base::navside">
      </nav>

      <!-- section -->
      <section class="col-9">
        <!-- section-header -->
        <div th:replace="/base::section-header('alert-warning', 'Add Publisher', null)"></div>

        <!-- section-content -->
        <form th:action="@{add}" method="POST" th:object="${publisher}">
          <div class="form-group">
            <label for="phone">name</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="" autofocus="autofocus">
          </div>
          <div class="form-group">
            <label for="address">address</label>
            <input type="text" id="address" th:field="*{address}" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="phone">phone</label>
            <input type="text" id="phone" th:field="*{phone}" class="form-control" placeholder="">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </section>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="/base::footer"></footer>
</body>

</html>