<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:include="~{/base::head('Publisher List')}"></th:block>
</head>

<body>
  <!-- header -->
  <header th:replace="~{/base::header}"></header>

  <!-- navbar -->
  <nav th:replace="~{/base::navbar}"></nav>

  <!-- main -->
  <main class="container-fluid" id="main">
    <div class="row ">
      <!-- navside -->
      <nav class="col-md-3" th:replace="~{/base::navside}">
      </nav>

      <!-- section -->
      <section class="col-md-9 pt-0">
        <!-- section-header -->
        <div th:replace="~{/base::section-header('alert-success', 'Publishers', 'publishers/add')}"></div>

        <!-- section-content -->
        <table id="ss-ct-tb" class="table table-hover table-bordered table-sm mt-2 mb-2">
          <thead class="thead-inverse">
            <tr>
              <th>id</th>
              <th>name</th>
              <th>address</th>
              <th>phone</th>
              <th>edit</th>
              <th>delete</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="publisher : ${publishers}">
              <td scope="row" th:text="${publisher.id}"></td>
              <td th:text="${publisher.name}"></td>
              <td th:text="${publisher.address}"></td>
              <td th:text="${publisher.phone}"></td>
              <td><a th:href="@{/admin/manage/publishers/{id}/edit(id=${category.id})}"><i
                    class="fas fa-pencil-alt text-dark"></i></a>
              </td>
              <td><a th:href="@{/admin/manage/publishers/{id}/delete(id=${category.id})}"><i
                    class="far fa-trash-alt text-dark"></i></a>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- section-footer -->
        <div th:replace="~{/base::section-footer ('publishers')}"></div>
      </section>
    </div>
  </main>

  <!-- footer -->
  <footer th:replace="~{/base::footer}"></footer>
</body>

</html>